/*================ General mood =====================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ================= Header mood ==========================*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 1158px;
}
.name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.page-nav {
  align-items: center;
  display: flex;
}
/* ==================  Navigation menu ===================*/
.nav-menu {
  gap: 40px;
  display: flex;
}
.nav-menu:last-child {
  margin-right: 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-span {
  color: #2e2f42;
}
.navigatoin-list {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigatoin-list:hover,
.navigatoin-list:focus,
.navigatoin-list.current {
  color: #404bbf;
}
.navigatoin-list.current {
  position: relative;
}
.navigatoin-list.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

/*================ Contacts =====================*/
.contact-list-container {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.contact-list-container:last-child {
  margin-right: 0;
}
.contact-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list:hover,
.contact-list:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}

/* ======================  Main content =====================*/
/* ======================  Section 1 main title =======================*/
.title {
  background-color: #2e2f42;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-image: linear-gradient(rgba(46, 47,66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url('../images/people-office.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
}
.title-head {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.title-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}

/*============================ Section 2 Benefsts ==================*/
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-menu {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.benefits-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.benefits-item-wrapper {
    display: flex;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
    height: 112px;
}
.benefits-item-icon {
margin-top: 24px;
margin-bottom: 24px;
}
/*================= Section 3 Our team ==================*/
.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.second-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.our-team-list {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.our-team-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.conteiner-employee {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.our-team-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  gap: 24px;
}
.our-team-menu:last-child {
  margin-right: 0;
}

.team-item-enter {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-item-menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  }
.team-item-enter:hover,
.team-item-enter:focus {
  background: #404BBF;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.social-item {
  fill: #f4f4fd;
}
/*====================== Section 4 Our portfolio ===============*/
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list {
  width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-portfolio-title {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-imagine-wrapper {
    position: relative;
      overflow: hidden;
}
.portfolio-overley {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover .portfolio-overley {
  transform: translateY(0%);
}
.portfolio-list:hover {
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}



/*============================= Footer mood ====================*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-content {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  flex: end;
}
.footer-span {
  color: #f4f4fd;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.title-footer-links {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-link-wrapper {
  display: flex;
    flex-direction: row;
    gap: 16px;
}
.footer-item-enter {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d5ae5;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.footer-item-enter:hover,
.footer-item-enter:focus {
  background: #31d0aa;
}
.footer-container.container{
align-items: baseline;
display: flex;
}
.footer-logo-container {
  margin-right: 120px;
}
.footer-subscribe-email {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  margin-right: 24px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}
.footer-subscribe-email::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.subscribe-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}
.subscribe-icon {
  margin-left: 16px;
}
.footer-socialmedia-container {
  margin-right: 80px;
}
.footer-form {
  gap: 24px;
  display: flex;
}

/* ========================= Modal ========================*/
.modal-backdrop {
  position: fixed;
  top:  0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  place-items: auto;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  overflow: auto;
  border-radius: 4px;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke-width: 1px;
  background-color: #e7e9fc;
  stroke: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-close-btn:hover,
.modal-close-btn:focus { 
  fill: #fff;
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform:  translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.container-modal-input {
  position: relative;
  border: none;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.form-input:focus {
  outline:none;
  border-color: #4d5ae5;
}
.container-modal-form {
  margin-bottom: 8px;
}
.modal-label-name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.container-modal-form-comment {
  margin-bottom: 16px;
}
.textarea-modal-form {
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
}
.textarea-modal-form:focus {
  outline:none;
  border-color: #4d5ae5;
}
.textarea-modal-form::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.container-modal-form-checkbox {
  margin-bottom: 24px;
}
.modal-label-checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-policy-link {
  line-height: 1.33333;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.modal-label-checkbox-span {
  display: inline-flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.modal-form-checkbox:checked + .modal-label-checkbox > .modal-label-checkbox-span {
  background-color: #404bbf;
  border: none;
  fill:#F4F4FD;
}
.modal-label-checkbox-icon {
  fill: transparent;
}
.modal-form-checkbox:checked + .modal-label-checkbox > .modal-label-checkbox-span > .modal-label-checkbox-icon {
  fill: #F4F4FD;
}