/* General mood */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
a {
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.main-content-container {
    width: 1158px;
}

 /* Header mood */
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.top-line-container {
    border-bottom: 1px solid #e7e9fc;
    width: 1158px;
}
.main-menu-container {
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0 15px;
}
/* Navigation menu */
.nav-menu-container {
    gap: 40px;
}
.nav-menu-container:last-child {
    margin-right: 0;
}
.logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-span {
    color: #2e2f42;
}
.navigatoin-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
.navigatoin-list:hover, .navigatoin-list:focus {
    color: #404bbf;
}

/* Contacts*/
.contact-list-container {
    gap: 40px;
    padding: 24px 0;
}
.contact-list-container:last-child {
    margin-right: 0;
}
.contact-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-list:hover, .contact-list:focus {
    color: #404bbf;
}
address {
    font-style: normal
}

/* Main content */
/* Section 1 main title */
.title {
    background-color: #2e2f42;
    padding: 188px 0;
    justify-content: center;
}
.title-head {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}
.title-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block;
}
.title-button:hover, .title-button:focus {
    background-color: #404BBF;
}

/* Section 2 Benefsts */
.benefits {
    padding: 120px 0
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.benefits-list {
    gap: 24px;
    padding: 120px 0;
}
.benefits-menu {
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.benefits-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section 3 Our team */
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
    gap: 24px;
}
.second-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.our-team-list {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    gap: 24px;
}
.our-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.our-team-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.conteiner-employee {
    padding: 32px 0;
}
.our-team-menu {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.our-team-menu:last-child {
    margin-right: 0;}

/* Section 4 Our portfolio */
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-menu {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 10%;
    padding-right: 10%;
}
.portfolio-list {
    width: calc((100% - 48px) / 3);
}
.container-portfolio-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* Footer mood */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    width: 1158px;
}
.footer-content {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    flex: end;
    flex: box;
}
.footer-span {
    color: #f4f4fd;
}
.logo-footer {
    font-family:"Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
}